<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuneone.tuneone">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <!-- Provide required visibility configuration for API level 30 and above -->
    <queries>
        <!-- If your app opens https URLs -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <!-- If your app makes calls -->
        <intent>
            <action android:name="android.intent.action.DIAL" />
            <data android:scheme="tel" />
        </intent>
        <!-- If your app emails -->
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="*/*" />
        </intent>
    </queries>

   <application
        android:label="TuneOne Radio"
       android:allowBackup="false"
       android:usesCleartextTraffic="true"
        android:icon="@mipmap/launcher_icon">

        <activity
            android:name="com.ryanheise.audioservice.AudioServiceActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />

            <meta-data
              android:name="io.flutter.embedding.android.SplashScreenDrawable"
              android:resource="@drawable/launch_background"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


<!--       <activity android:name="com.ryanheise.audioservice.AudioServiceActivity">-->

<!--        </activity>-->


        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />


       <!-- ADD THIS "SERVICE" element -->
       <service android:name="com.ryanheise.audioservice.AudioService">
           <intent-filter>
               <action android:name="android.media.browse.MediaBrowserService" />
           </intent-filter>
       </service>

       <!-- ADD THIS "RECEIVER" element -->
       <receiver android:name="com.ryanheise.audioservice.MediaButtonReceiver" >
           <intent-filter>
               <action android:name="android.intent.action.MEDIA_BUTTON" />
           </intent-filter>
       </receiver>

   </application>
</manifest>
